build-aux
autom4te.cache
aclocal.m4
config.*
configure
*tar.gz
INSTALL
Makefile
ghangtuxmm
Makefile.in
src/config*
src/*.o
src/.*
src/stamp*
intltool-extract.in
intltool-merge.in
intltool-update.in
po/.intltool-merge-cache
po/es.gmo
po/Makefile*
po/POTFILES
po/stamp-it
ghangtuxmm.desktop
